<div class="column is-half">
      <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>@<%= @event.creator.username %></strong><br /> 
            <p>Event: <%= @event.name %></p>
            <p>Location: <%= @event.location %></p>
            <p>Date: <%= @event.date %></p>
            <p>Details: <%= @event.description %></p>
          </div>
          <nav class="level">
            <div class="level-left is-mobile">
              <% if @event.creator == current_user %>
                <%= link_to 'Edit', edit_event_path(@event) %>
                <%= link_to 'Delete', event_path(@event),
                    data: 
                          {
                            turbo_method: :delete,
                            turbo_confirm: "Click OK to confirm deleting this event."
                          } %>
              <% end %>
                  <%= button_to 'Attend' %>
                </div>
              </nav>
        </div>
      </article>
    </div>

</div>