<section class='section'>
  <div class="container">
    <div class="columns is-centered">
      
      <div class="column is-6">
        <h3 class="panel-heading"><%= @event.name %></h3>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p><strong>Host:</strong> @<%= @event.creator.username %></strong><br /> 
                  <p><strong>Location:</strong> <%= @event.location %></p>
                  <p><strong>Date:</strong> <%= @event.date %></p>
                  <p><strong>Details:</strong> <%= @event.description %></p>
                  <% if @event.private == true %>
                    <p><strong>Attendance:</strong>&nbsp; invite only</p>
                  <% else %>
                    <p><strong>Attendance:</strong>&nbsp; anyone</p>
                  <% end %>
                </div>
                <nav class="level">
                  <div class="level-left is-mobile">
                    <% if user_signed_in? %>
                      <% if @event.creator == current_user %>
                        <p><%= link_to 'Edit', edit_event_path(@event), class: 'button' %>&nbsp; &nbsp;</p>
                        <%= link_to 'Delete', event_path(@event),
                            class: 'button',
                            data: 
                                  {
                                    turbo_method: :delete,
                                    turbo_confirm: "Click OK to confirm deleting this event."
                                  } %>
                      <% elsif %>
                        <% !current_user.attended_event_ids.include?(@event.id) %>
                        
                            <%= link_to 'Attend', event_create_attendings_path(@event.id), 
                                data: { turbo_method: "post" }, class: 'button' %>
                      <% else %>
                          <%= link_to 'Withdraw', event_destroy_attendings_path(@event.id), 
                              data: { turbo_method: "delete",
                                      turbo_confirm: "Click OK to confirm withdrawing from this event." }, 
                                      class: 'button' %>
                      <% end %>
                    <% end %>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <% if @event.creator == current_user %>
            <%= render 'invitepane' %>
          <% end %>
      </div>
      <%= render 'attendeelist' %>
   </div>
  </div>
</section>