<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<%# these flash hashes are added per the Devise install recommendation %>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">      
        <p class="notice"><%= notice %></p> 
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class='notification is-danger global-notification'>
        <p class='alert'><%= alert %></p>
      </div>
    <% end %>
    <%# This is the website header bar  %>
    <nav class="navbar is-info">
      <div class="navbar-brand">    
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class='title is-5'>Private Events</h1>
        <% end %>
        <div class='navbar-burger burger' data-target='navbarExample'>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <%# new_bark_path corresponds to the URI for new barks - see Rails Routes in console %>
      <div id='navbarExample' class='navbar-menu'>
        <div class='navbar-end'>
          <div class="navbar-item">          
            <div class='field is-grouped'>
              <p class='control'>
                <%= link_to 'New Event', root_path, class: 'button is-info is-inverted' %>
              </p>
              <% if user_signed_in? %>
                <p class='control'>
                  <%= link_to current_user.username, edit_user_registration_path, class: 'button is-info' %>
                </p>
                <p>
                  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: "delete" }, class: 'button is-info' %>
                </p>
              <% else %>
                <p class='control'>
                  <%= link_to 'Log in', new_user_session_path, method: :get, class: 'button is-info' %>
                </p>
                <p class='control'>
                <%= link_to 'Sign up', new_user_registration_path, class: 'button is-info' %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
